body{
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
}
.gameover{
  font-size: 3.5rem;
  color: red;
  font-family: 'Press Start 2P', cursive;
}
h1{
  font-size: 2.5rem;
  line-height: 1.5;
  color: #FEF2BF;
  margin-bottom: 20px;
}
.instruction{
  color: #FEF2BF;
  font-size: 1rem;
  margin-top: 5%
}

.button{
  width: 100px;
  height: 100px;
  border-radius: 10%;
  border: 5px solid black;
  margin: 20px;
}

.startbutton{
  background-color: green;
  width: 200px ;
  height: 75px ;
  border-radius: 10%;
  border: 5px solid yellow;
  margin: 5%;
}




.red{
  background-color: red;

}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
